:root {
  /* Neutral */
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  /* Red */
  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  /* Gradients */
  --gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);
  --gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
}

/* ========== RESET ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: var(--gradient-dark);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  color: var(--neutral-0);
}

/* ========== LIGHT MODE ========== */
body.light-theme {
  background: var(--gradient-light);
  color: var(--neutral-900);
}

body.light-theme .header,
body.light-theme .theme-toggle,
body.light-theme .grid-item,
body.light-theme .filter-btn,
body.light-theme .remove_btn,
body.light-theme .custom-switch {
  background-color: var(--neutral-200);
  border-color: var(--neutral-300);
}

body.light-theme .body-header h1,
body.light-theme .content-description h3 {
  color: var(--neutral-900);
}

body.light-theme .content-description p {
  color: var(--neutral-700);
}

body.light-theme .filter-btn.active {
  background-color: var(--red-400);
  color: var(--neutral-900);
}

body.light-theme .custom-switch.active {
  background-color: var(--red-700);
}

body.light-theme .custom-switch .slider {
  background-color: var(--neutral-0);
}

/* ========== COMPONENTS ========== */

.header {
  background-color: var(--neutral-700);
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
}

.brand-logo img,
.theme-toggle img {
  max-width: 100%;
  object-fit: cover;
  block-size: auto;
}

.theme-toggle {
  background-color: var(--neutral-800);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.body-header {
  margin: 1.5rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-header h1 {
  color: var(--neutral-0);
}

.filter-btn {
  border: none;
  background-color: var(--neutral-700);
  color: var(--neutral-0);
  padding: 6px 12px;
  font-weight: 400;
  border-radius: 9999px;
  text-align: center;
  cursor: pointer;
}

.filter-btn.active {
  background-color: var(--red-400);
  color: var(--neutral-900);
}

.body-main {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.grid-item {
  background-color: var(--neutral-600);
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--neutral-300);
}

.content {
  display: flex;
  gap: 0.7rem;
}

.content-description h3 {
  color: var(--neutral-0);
}

.content-description p {
  color: var(--neutral-300);
}

.content-description h3,
.content-description p {
  word-break: break-word;
}

.content-image img {
  object-fit: cover;
  max-width: 100%;
  block-size: auto;
}

.content_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-switch {
  background-color: var(--neutral-700);
  cursor: pointer;
  border-radius: 30px;
  height: 28px;
  width: 60px;
  position: relative;
  transition: background-color 0.3s ease;
}

.custom-switch .slider {
  width: 26px;
  height: 26px;
  background-color: var(--neutral-0);
  position: absolute;
  border-radius: 50%;
  left: 1px;
  top: 1px;
  transition: transform 0.3s ease;
}

.custom-switch.active {
  background-color: var(--red-700);
}

.custom-switch.active .slider {
  transform: translateX(30px);
}

.remove_btn {
  background-color: var(--neutral-700);
  border: 1px solid var(--neutral-300);
  border-radius: 9999px;
  padding: 6px 10px;
  color: var(--neutral-100);
  font-size: 16px;
  cursor: pointer;
}

/* ========== MEDIA ========== */
@media (max-width: 480px) {
  .body-header {
    flex-direction: column;
    gap: 1rem;
  }

  .body-main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}